Get data

In [7]:
file_path = "./data/X.csv"
X = pd.read_csv(file_path)

file_path = "./data/y.csv"
y = pd.read_csv(file_path)

In [8]:
df_org = X.join(y.set_index('id'))

df_mod = df_org

# clear all null lines
for column in df_mod.columns:
    nulls_mask = df_mod[column].notnull()  # or column_with_nulls.isna()
    df_mod = df_mod[nulls_mask]

# rename unnamed columns
df_mod.drop(columns='Unnamed: 0', inplace=True)
df_mod.drop(columns='Unnamed: 0.1',inplace=True)


# deal with categorial columns

label_encoder = LabelEncoder()
for column in df_mod.select_dtypes(include=['object']).columns:
    df_mod[column + '_encoded'] = label_encoder.fit_transform(df_mod[column])





# get all relevant column names
categorical_columns = df_mod.select_dtypes(include=['object']).columns.tolist()

# drop_categorial = True
# if (drop_categorial):
#     df_mod = df_mod.drop(columns=categorical_columns)
# else:
#     # drop some of them
#     categorical_columns_remove = 'Job Title'
#     categorical_columns = [item for item in categorical_columns if item != categorical_columns_remove]


#     df_mod = pd.get_dummies(df_mod,columns = categorical_columns)

# df = df_mod
df_mod.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4269 entries, 0 to 5362
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4269 non-null   float64
 1   Gender                   4269 non-null   object
 2   Education Level          4269 non-null   object
 3   Job Title                4269 non-null   object
 4   Years of Experience      4269 non-null   float64
 5   Country                  4269 non-null   object
 6   Race                     4269 non-null   object
 7   height                   4269 non-null   float64
 8   weight                   4269 non-null   float64
 9   id                       4269 non-null   int64
 10  professionalism          4269 non-null   float64
 11  Salary                   4269 non-null   float64
 12  Gender_encoded           4269 non-null   int32
 13  Education Level_encoded  4269 non-null   int32
 14  Job Title_encoded        4269 non-null   int32
 15  Country_encoded          4269 non-null   int32
 16  Race_encoded             4269 non-null   int32
dtypes: float64(6), int32(5), int64(1), object(5)
memory usage: 516.9+ KB

In [15]:
# pairplot  = sns.pairplot(df_mod,vars = ['Gender_encoded', 'Education Level_encoded', 'Job Title_encoded', 'Country_encoded', 'Race_encoded','Salary'])
df = df_mod[]
# Split the data into separate columns
split_data = df['column_name'].str.split('|', expand=True)

# Rename the columns
split_data.columns = ['column_1', 'column_2', 'column_3']

# Concatenate the split data with the original DataFrame
df = pd.concat([df, split_data], axis=1)

# Drop the original column
df.drop(columns=['column_name'], inplace=True)

NameError: name 'df' is not defined

In [14]:
categorical_columns
df = df_mod['Job Title'].unique()

array(['back|end|develope', 'operations|manage', 'senior|product|manage',
       'marketing|manage', 'product|manage', 'software|engineer|manage',
       'full|stack|enginee', 'web|develope', 'research|scientis',
       'director|of|h', 'marketing|coordinato',
       'digital|marketing|manage', 'marketing|analys', 'software|enginee',
       'front|end|develope', 'data|scientis', 'receptionis',
       'content|marketing|manage', 'director|of|marketin', 'data|analys',
       'product|marketing|manage', 'senior|marketing|analys',
       'senior|project|enginee', 'senior|software|enginee',
       'financial|manage', 'project|manage', 'junior|sales|associat',
       'junior|hr|generalis', 'senior|hr|generalis',
       'senior|human|resources|manage', 'social|media|specialis',
       'sales|directo', 'junior|hr|coordinato', 'software|develope',
       'senior|product|marketing|manage', 'junior|marketing|manage',
       'sales|manage', 'sales|associat', 'product|designe',
       'senior|project|manage', 'data|entry|cler',
       'senior|marketing|manage', 'public|relations|manage',
       'research|directo', 'senior|data|scientis',
       'human|resources|coordinato', 'director|of|operation',
       'junior|web|develope', 'financial|analys',
       'human|resources|manage', 'sales|executiv', 'marketing|directo',
       'junior|social|media|specialis', 'junior|operations|analys',
       'senior|research|scientis', 'digital|marketing|specialis',
       'director|of|data|scienc', 'junior|sales|representativ',
       'delivery|drive', 'junior|product|manage',
       'senior|it|support|specialis', 'sales|representativ',
       'junior|data|analys', 'customer|success|re',
       'juniour|hr|coordinato', 'office|manage',
       'junior|operations|manage', 'junior|marketing|coordinato',
       'help|desk|analys', 'customer|service|representativ',
       'junior|data|scientis', 'senior|data|analys',
       'junior|software|develope', 'senior|training|specialis',
       'director|of|human|capita', 'junior|software|enginee',
       'junior|project|manage', 'principal|scientis',
       'senior|project|coordinato', 'junior|accountan', 'senior|scientis',
       'senior|business|analys', 'senior|data|enginee',
       'it|support|specialis', 'senior|marketing|specialis',
       'social|media|manage', 'software|manage',
       'senior|marketing|coordinato', 'accountan', 'graphic|designe',
       'senior|enginee', 'junior|marketing|specialis',
       'director|of|engineerin', 'training|specialis',
       'junior|customer|support|specialis', 'junior|business|analys',
       'software|project|manage', 'junior|marketing|analys',
       'chief|technology|office', 'director|of|human|resource',
       'senior|financial|adviso', 'senior|human|resources|specialis',
       'senior|financial|analys', 'human|resources|directo',
       'junior|financial|analys', 'senior|hr|manage',
       'junior|business|development|associat', 'senior|it|consultan',
       'junior|social|media|manage', 'network|enginee',
       'junior|ux|designe', 'technical|write',
       'senior|human|resources|coordinato', 'senior|software|develope',
       'vp|of|operation', 'hr|manage', 'senior|accountan',
       'account|manage', 'administrative|assistan', 'social|media|ma',
       'juniour|hr|generalis', 'senior|financial|manage',
       'senior|product|development|manage', 'senior|product|designe',
       'event|coordinato', 'senior|graphic|designe',
       'senior|business|development|manage', 'strategy|consultan',
       'junior|account|manage', 'digital|content|produce', 'vp|of|financ',
       'junior|designe', 'it|manage', 'junior|web|designe',
       'junior|research|scientis', 'customer|success|manage',
       'business|intelligence|analys', 'business|development|manage',
       'junior|copywrite', 'ux|designe', 'creative|directo',
       'business|analys', 'ce', 'junior|business|operations|analys',
       'senior|operations|manage', 'technical|support|specialis',
       'director|of|sales|and|marketin', 'copywrite',
       'supply|chain|manage', 'senior|operations|coordinato',
       'hr|generalis', 'customer|service|re', 'marketing|specialis',
       'customer|service|manage', 'recruite', 'senior|marketing|directo',
       'operations|analys', 'senior|sales|representativ', 'directo',
       'director|of|sale', 'junior|financial|adviso',
       'senior|operations|analys', 'junior|recruite',
       'senior|sales|manage', 'director|of|financ'], dtype=object)